
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://wallpaperstock.net/download-thumb.php?filename=clean-blue-background-wallpapers_43569_2560x1440.jpg&max_height=600&max_width=1066.6666666666667&top=0&left=0&width=2560&height=1439');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow:  0 1px 8px rgba(0, 0, 0, 0.6);
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
    margin-top: 0;
     text-shadow:  0 -1px 1px rgba(0, 0, 0, 0.6);
}

.learn-more {
  background-color: #f7f7f7;
      padding-top: 25px;
    padding-bottom: 50px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color:#efefef;
 border-bottom:1px solid #dbdbdb;
 
}

.neighborhood-guides h2{ 
    color:#393c3d;
        margin-top: 37px;
    font-size :24px;

    }
    
.neighborhood-guides p{ 
        font-size :15px;
 margin-bottom:13px;

    }

.nav {
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.jumbotron a {
    font-size: 20px;
    color: #00b0ff;
}

.neighborhood-guides .thumbnail {
   
    border: none;
    background-color: transparent;
    position: relative;
     max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.neighborhood-guides .thumbnail h4 {
    font-family: Shift, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 29px;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
}
.fa{
    color:#5a5a5a;
}
.fa-2x:hover{
    color:black;
}

.bgOffWhite{
    background-color:#efefef;
    border-radius:20px;
}

.textContainer {
    margin-top:100px;
    vertical-align:middle;
}

.logoContainer {
    margin-bottom:20px;
    vertical-align:middle;
}
